.Hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  position: relative;
}

.Hero > div {
  width: 100%;
}

.HeroSvgJoinUsPosition svg {
  transform: translateX(-100px);
}

.HeroSvgOurMissionPosition svg {
  transform: translateX(64px);
}

.Hero h1,
.Hero p {
  font-style: normal;
  color: #000000;
  max-width: 483px;
}

.Hero h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 81px;
  line-height: 100%;
  letter-spacing: 0.025em;
  color: var(--black);
  margin-bottom: 16px;
}

.Hero svg {
  margin-bottom: 16px;
  max-width: 90vw;
}

.Title {
  margin-top: -40px;
}

.Hero h1 span {
  color: white;
}

.Hero p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
  max-width: 483px;
  margin-top: -40px;
}

.Hero p span {
  color: white;
  font-weight: 600;
  text-transform: lowercase;
}

.Hero p:not(:last-of-type) {
  margin-bottom: 16px;
}

.Hero .Image {
  width: 414px;
  height: 467px;
}

.HeroExtendedPadding .Image {
  width: 414px;
  height: 507px;
}

.Hero .OurMissionImage {
  width: 314px;
  height: 467px;
}

.Hero .JoinUseImage {
  width: 544px;
  height: 487px;
}

.LinksWrapper {
  display: flex;
  column-gap: 16px;
  z-index: 1;
}

.LinksWrapper a:nth-of-type(1) {
  background-color: white;
  font-family: "Roboto-black";
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  padding: 10px 32px;
  line-height: 120%;
  border: 3px solid #000000;
  border-radius: 18px;
  letter-spacing: 0.05px;
  cursor: pointer;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .Hero {
    flex-direction: row;
    padding: 0px 150px 0px;
    min-height: auto;
    min-height: calc(100vh - 70.39px);
    padding-top: 100px;
  }
  .Hero > div {
    width: 50%;
  }

  .MaxWidth {
    max-width: 420px;
  }

  .Hero > div:nth-of-type(1) {
    padding-right: 64px;
  }

  .Hero > div:nth-of-type(2) {
    padding-left: 64px;
  }

  .Title {
    margin-top: 0px;
  }

  .Hero p {
    margin-top: 0px;
  }
}
