.MediaSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-top: 100px;
}

.Image {
  width: 50%;
  object-fit: cover;
  height: 440px;
  border-radius: 8px;
}

.MediaSectionWrapper p {
  font-size: 18px;
  line-height: 20px;
}

.MediaSectionWrapper iframe {
  margin-bottom: 80px;
  border-radius: 8px;
  border: 3px solid black;
}

.MediaSectionWrapper > div {
  display: flex;
  align-items: center;
}
.ParagraphsWrapper {
  width: 50%;
  padding-right: 120px;
}
.MediaSectionWrapper > div p:not(:last-of-type) {
  margin-bottom: 16px;
}
