.MediaSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
}

.ParagraphsWrapper h2 {
  color: white;
  margin-bottom: 24px;
}

.Image {
  width: 100%;
  object-fit: cover;
  height: 240px;
  border-radius: 8px;
  margin-top: 40px;
}

.MediaSectionWrapper p {
  font-size: 16px;
  line-height: 20px;
}

.MediaSectionWrapper iframe {
  height: 240px;
  margin-bottom: 0px;
  border-radius: 8px;
}

.MediaSectionWrapper > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ParagraphsWrapper {
  width: 100%;
  padding-right: 0px;
}

.MediaSectionWrapper > div p:not(:last-of-type) {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .MediaSectionWrapper {
    gap: 120px;
    margin-top: 180px;
  }

  .Image {
    width: 50%;
    height: 480px;
  }

  .MediaSectionWrapper > div {
    flex-direction: row;
  }

  .ParagraphsWrapper {
    width: 50%;
    padding-right: 80px;
  }

  .MediaSectionWrapper iframe {
    height: 720px;
    margin-bottom: 80px;
  }

  .Image {
    margin-top: 0px;
  }

  .MediaSectionWrapper p {
    font-size: 18px;
  }
}
