.SocialMedia {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
}

.SocialMedia svg {
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 992px) {
  .SocialMedia {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 0px;
  }
}
