.Logo {
  position: relative;
  z-index: 5;
  font-size: 20px;
  line-height: 18px;
  transition: all 0.3s ease-in-out;
}

.Logo svg {
  width: 64px;
  height: 64px;
}

@media only screen and (min-width: 768px) {
  .Logo {
    font-size: 32px;
  }
}
